.tag{
    display: flex;
    color: #9F9F9F;
}
#blog-main-div li{
    margin-right: 10px;
}
#blog-main-div{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image-style{
    border-radius: 10px;
}
#blog-post{
    padding-right: 80px;
    padding-left: 30px;
}
#Categories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#search{
    width: 50%;
    text-align: right;
}
#blog-search{
    width: 100%;
}
#blog-search ul{
    color: #9F9F9F;
}

#recent-posts-list{
    width: 250px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#recent-posts-list img{
    width: 100%;
}
.date{
    color: #9F9F9F;
}
#blog-main-div button{
    border: 0;
    background-color: white;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}
#blog-main-div button:hover{
    color:#9F9F9F;
}

