

#Buy-now-button{
  width: 222px;
  height: 74px;
  top: 553.3px;
  left: 778px;
  padding: 25px 72px 25px 72px;
  gap: 10px;
  opacity: 0px;

}
#discover{
    color: #B88E2F;
    size: 52px;
    line-height: 65px;
}
/* #section-1{
  width: 1440px;
  height: 1007.93px;
  top: -106.7px;
  gap: 0px;
  opacity: 0px;
  position: relative;
} */

#section-1{
  width: 100%;
  height: fit-content;
  margin-top: 15px;
  padding-inline: auto;
  background-image: url(Images/1st-page-img.png);
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: right;
}
#intro-box{
    background-color: #FFF3E3;
    width: 35%;
    height: 400px;
    position: relative;
    top: 10px;
    align-content: center;
    justify-content: center;
    text-align: left;
    ;
}





#section-2{
  text-align: center;
  display: inline;
}

#grid-page1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#our-products{
  text-align: center;
}



