#Buy-now-button {
  max-width: 222px;
  height: 74px;
  padding: 25px 72px 25px 72px;
  gap: 10px;
  opacity: 0px;
}

#discover {
  color: #B88E2F;
  font-size: 24px; 
  line-height: 36px;
  font-weight: 700;
  max-width: 559px;
}

#section-1 {
  width: 100%;
  height: fit-content;
  margin-top: 15px;
  padding-inline: auto;
  background-image: url(Images/1st-page-img.png);
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: right;
}

#intro-box {
  background-color: #FFF3E3;
  max-width: 35%;
  height: 400px;
  position: relative;
  top: 10px;
  align-content: center;
  justify-content: center;
  text-align: left;
  padding: 0px 40px;
}

#new-arrival {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 24px;
  margin: 0;
}

#section-2 {
  text-align: center;
  display: inline;
}

#grid-page1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
}

#grid-page1 p {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px; 
}

#our-products {
  text-align: center;
}

#show-more-button {
  border-color: #B88E2F;
  border-width: 2px;
  display: block;
  margin: auto;
}